<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <form class="form-horizontal" th:action="@{/api/profiles}" method="get">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Username: </label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="username"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-6">
                                <input type="password" name="password"/>
                            </div>
                        </div>
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Login</button>
                        </span>
                        <!--<div><label> User Name : <input type="text" name="username"/> </label></div>-->
                        <!--<div><label> Password: <input type="password" name="password"/> </label></div>-->
                        <!--<div><input type="submit" value="Sign In"/></div>-->
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>